extends layout

block content
  .w3-top
    .w3-bar.w3-white.w3-wide.w3-padding.w3-card
      a.w3-bar-item.w3-button(href='/ruas/')
        b RUAS DE BRAGA 
      // Float links to the right. Hide them on small screens
      .w3-right.w3-hide-small
        a.w3-bar-item.w3-button(href="/ruas/") Ruas
        a.w3-bar-item.w3-button(href="/posts") Posts
        a.w3-bar-item.w3-button(href="/perfil/") Perfil
        a.w3-bar-item.w3-button(href="/logout") Logout

  // Page content
  .w3-content.w3-padding(style='max-width:1564px')

    #about.w3-container.w3-padding-32
      h2.w3-border-bottom.w3-border-light-grey.w3-padding-16.w3-center Perfil

      .w3-container.w3-padding-32
        .w3-center
          if user.imagem == null
            img.w3-circle.w3-border(src='/images/defaults/icon-default.png', style="width:250px;height:250px")
          else
            img.w3-circle.w3-border(src=user.imagem, style="width:250px;height:250px")

      .w3-container.w3-margin-bottom.w3-center
        p 
          b Nome:
          span #{user.username}
        p
          b Email: 
          span #{user.email}
        p 
          b Filiação: 
          span #{user.filiacao}
        p 
          b Data de Registo: 
          span #{user.dateCreated}
        p 
          b Nível de Acessamento:
          span #{user.level}

        button.w3-button.w3-margin-left.w3-black
          a(href="/perfil/edit", style="text-decoration: none;") #[i.fa.fa-trash] Editar Perfil
        
      // Post List
      if posts.length > 0  
        ul.w3-ul(style="width: 40%; padding-top:2%; padding-bottom:2%; margin: 0 auto;") // Centraliza a lista de posts
          each post in posts
            li.w3-card.w3-round(style="margin-top:2%; margin-bottom:7%; padding: 20px; border: 2px solid #ddd;")
              .w3-container
                h4.w3-center #{post.user.username}
                h5.w3-center Criado a #{post.data}
              hr
              .w3-container(style="margin-bottom: 20px;")
                p(style="margin-top:2%;margin-bottom:3%") #{post.desc}
                .w3-container.w3-border.w3-round.w3-hover-opacity 
                  a(href="/ruas/"+post.rua._id, style="text-decoration: none;")
                    h3.w3-center #{post.rua.nome}
                    .w3-content.w3-display-container(style="margin-top: 10px;")
                      if post.rua.figuras
                        img(src="/api/image/images/"+post.rua.figuras[0].imagem, alt="Imagem "+post.rua.nome, style="width:85%")
                      if post.rua.para
                        each para in post.rua.para
                          p= para     
            a(href="/posts/"+post._id, style="display:flex; justify-content: center;") Ver mais sobre o post...
            p
            .w3-center
              button.w3-button.w3-margin-left.w3-black
                a(href="/posts/delete/" + post._id, style="text-decoration: none;") #[i.fa.fa-trash] Remover    
      else 
        .w3-container.w3-padding-32
          .w3-center
            h5.w3-margin.w3-padding.w3-center Não existem posts. Crie o seu primeiro post!

      // Button to add a post
      .w3-container.w3-padding-32.w3-center
        button.w3-button.w3-margin-left.w3-black
          a(href="/posts/add", style="text-decoration: none;") #[i.fa.fa-trash] Adicionar Post

  // Footer
  footer.w3-center.w3-black.w3-padding-16
    p
      | Gerado por EngWeb2024 em #{d}
